/* =========================
   1) Universal Selector
   Applies to ALL elements
========================= */
* {
  font-family: Arial, sans-serif;
}

/* =========================
   2) Type / Tag Selector
   Applies to all <p> tags
========================= */
p {
  color: darkslategray;
}

/* =========================
  3) Class Selector
  Applies to elements with class="text"
========================= */
.text {
  color: green;
  font-size: 18px;
}

/* =========================
  4) ID Selector
  Applies to element with id="unique"
  (id has higher priority than class)
========================= */
#unique {
  color: red;
  font-weight: bold;
}

/* =========================
   5) Grouping Selector
   Same style for h1 and p
========================= */
h1, p {
  margin-left: 10px;
}

/* =========================
   6) Descendant Selector
   p inside div only
========================= */
div p {
  background-color: #f0f0f0;
  padding: 8px;
}

/* =========================
  7) Chaining Selector
  Element having BOTH box and highlight
========================= */
.box.highlight {
  border: 2px solid blue;
  padding: 10px;
}
