body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* FLEX CONTAINER */
.container {
  display: flex;

  /* direction */
  flex-direction: row;

  /* horizontal spacing */
  justify-content: space-around;

  /* vertical alignment */
  align-items: center;

  height: 300px;
  background: #222;
}

/* FLEX ITEMS */
.card {
  width: 120px;
  height: 120px;
  background: orange;
  color: white;
  display: flex;

  /* center text inside card */
  justify-content: center;
  align-items: center;

  font-weight: bold;
  border-radius: 10px;
}
