body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.unit{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

/* ---------- PX ---------- */
.px {
  width: 200px;
  background: lightblue;
  padding: 10px;
  margin-bottom: 20px;
}

/* ---------- % ---------- */
.parent {
  width: 400px;
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
}

.percent {
  width: 50%;
  background: lightcoral;
  padding: 10px;
}

/* ---------- EM ---------- */
.parent-font {
  font-size: 20px;
}

.em-text {
  font-size: 2em;
  background: lightgreen;
  padding: 10px;
  margin-bottom: 20px;
}

/* ---------- REM ---------- */
html {
  font-size: 16px;
}

.rem-text {
  font-size: 2rem;
  background: lightgoldenrodyellow;
  padding: 10px;
  margin-bottom: 20px;
}

/* ---------- VH ---------- */
.vh-box {
  height: 30vh;
  background: plum;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- VW ---------- */
.vw-box {
  width: 50vw;
  background: orange;
  padding: 10px;
}
